@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

.fw-extra-bold {
  font-weight: 800;
}

.text-22 {
  font-size: 22px;
}

.text-40 {
  font-size: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-60 {
  margin-bottom: 60px;
}

.gap-40 {
  gap: 8px;
}
@media only screen and (min-width: 1200px) {
  .gap-40 {
    gap: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .gap-40 {
    gap: 40px;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #d0de8f;
  border-radius: 4px;
}

.section {
  padding-block: 62px;
}
.section__gap--60 {
  margin-top: 60px;
}
.section__header {
  margin-bottom: 62px;
}
.section__header h2 {
  font-weight: 800;
  color: #00255a;
  text-align: center;
}
.section__header p {
  font-size: 20px;
}

button {
  outline: none;
  border: 0;
}

.button {
  outline: none;
  border: 0;
  padding: 10px 24px;
  font-weight: 700;
  color: #00255a;
  border-radius: 8px;
}
.button--primary {
  display: flex;
  width: 200px;
  transition: box-shadow 0.4s ease-in;
  background-color: #c0e3fc;
  box-shadow: inset 0 0 0 0 #3597d9, rgba(0, 0, 0, 0.24) 0px 2px 6px;
}
.button--primary svg {
  position: absolute;
  left: 0;
  opacity: 0;
  stroke: #fff;
  stroke-width: 3px;
  transition: opacity 0.2s ease-in, transform 0.3s ease-in;
  margin-left: -12px;
  transform: translateX(-10px);
}
.button--primary .btn-text {
  transition: all 0.2s ease-in;
}
.button--primary:hover {
  color: #fff;
  box-shadow: inset 400px 0 0 0 #3597d9, rgba(0, 0, 0, 0.24) 0px 2px 6px;
}
.button--primary:hover svg {
  opacity: 1;
  transform: translateX(0px);
}
.button--primary:hover .btn-text {
  transform: translateX(12px);
}
.button--secondary {
  display: flex;
  width: 200px;
  background-color: #c0e3fc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
}
.button--secondary svg {
  position: absolute;
  left: 0;
  opacity: 0;
  stroke: #00255a;
  stroke-width: 3px;
  transition: opacity 0.2s ease-in, transform 0.3s ease-in;
  margin-left: -12px;
  transform: translateX(-10px);
}
.button--secondary .btn-text {
  transition: all 0.2s ease-in;
}
.button--secondary:hover svg {
  opacity: 1;
  transform: translateX(0px);
}
.button--secondary:hover .btn-text {
  transform: translateX(12px);
}
.button--pill {
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: #80b0d2;
  color: #00337e;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
  border-radius: 50rem;
}
.button--pill:hover {
  border: 2px solid #3597d9;
  color: #00255a;
}
.button--back {
  background-color: #bfbfbf;
  transition: background-color 0.2s ease-in;
}
.button--back:hover {
  background-color: #afadad;
}
.button--solid {
  background-color: #00337e;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.2s ease-in;
}
.button--solid:hover {
  background-color: #00255a;
}

input.form-control:focus,
select.form-select:focus, textarea.form-control:focus {
  border-color: #c0e3fc;
  box-shadow: 0 0 5px 0px #80b0d2;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.paragraph-sm {
  font-size: 14px;
}
.paragraph-normal {
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .paragraph-normal {
    font-size: 16px;
  }
}
.paragraph-medium {
  font-size: 18px;
}
.paragraph-semi-large {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .paragraph-semi-large {
    font-size: 20px;
  }
}
.paragraph-large {
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  .paragraph-large {
    font-size: 24px;
  }
}

.text-color-p300 {
  color: #00337e;
}

.text-color-p400 {
  color: #00255a;
}

.navbar {
  --bs-navbar-active-color: #D0DE8F;
  --bs-navbar-color: white;
  --bs-navbar-hover-color: #D0DE8F;
}
.navbar.nav {
  padding: 12px 0px;
  margin-bottom: -26px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1200px) {
  .navbar.nav {
    padding: 16px 0px;
  }
}
.navbar.nav.scroll-change {
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}
.navbar.nav.navAnimateToTop {
  top: 0;
  animation: navAnimateDown 0.2s forwards ease-in;
}
.navbar-wrapper {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .navbar-wrapper {
    width: auto;
  }
}
.navbar__logo {
  width: clamp(20px, 2.125rem + 0.833vw, 40px);
}
.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar__logo span {
  font-size: 20px;
  font-weight: 700;
  color: #00337e;
}
@media only screen and (min-width: 992px) {
  .navbar__logo span {
    font-size: 24px;
  }
}
.navbar-toggler {
  box-shadow: none !important;
}
.navbar-toggler .line {
  fill: none;
  stroke: #000;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-toggler .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar-toggler .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.navbar-toggler .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar-toggler.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navbar-toggler.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.navbar-toggler.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-collapse a {
  color: #000;
  font-weight: 500;
}
.navbar-collapse a.active {
  color: #00337e !important;
}
.navbar-collapse a:hover {
  color: #00337e;
}
.navbar .button {
  width: 100%;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .navbar .button {
    width: auto;
    justify-content: space-between;
  }
}

.hero {
  min-height: 65vh;
  position: relative;
  margin-top: 62px;
  background-image: linear-gradient(to left, rgba(26, 43, 61, 0) 0%, rgba(16, 36, 40, 0.65) 100%), url(../../assets/Banner-image-5.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  .hero {
    margin-top: 72px;
  }
}
@media only screen and (min-width: 576px) {
  .hero {
    min-height: 70vh;
  }
}
.hero__content {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero__content p {
    width: 680px;
  }
}
.hero__content h1 {
  font-weight: 700;
}

.airline-slider .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --font-size: 0.8em;
  --bg1: #e4f3fbe6;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

.booking {
  background-color: var(--bg1);
}

ul.infoGraphic {
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 33.33em;
  background: var(--bg1);
  border-radius: 0.5em;
  padding: 1em;
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
}
ul.infoGraphic li .numberWrap {
  position: absolute;
  top: 0;
  max-height: -webkit-fill-available;
}
ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 10.5em;
  font-weight: 900;
  width: 0.8em;
  text-align: center;
}
ul.infoGraphic li .number.fontColor1 {
  color: var(--blue);
}
ul.infoGraphic li .number.fontColor2 {
  color: var(--green);
}
ul.infoGraphic li .number.fontColor3 {
  color: var(--purple);
}
ul.infoGraphic li .coverWrap {
  transform: rotate(130deg);
  position: absolute;
  width: 18em;
  height: 15em;
  left: -3em;
  top: -1em;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}
ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  box-shadow: 0 0 30px 17px rgba(72, 102, 133, 0.4666666667);
  border-radius: 100px/10px;
  z-index: -1;
}
ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(at bottom, rgba(72, 102, 133, 0.2), transparent, transparent);
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 6em 1em 1em 7.5em;
  position: relative;
}
ul.infoGraphic li .content h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #00255a;
  text-align: center;
  margin-bottom: 8px;
  text-transform: uppercase;
}
ul.infoGraphic li .content p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.4em;
  left: 50%;
  transform: translateX(-50%);
  color: #00337e;
}

.dummy-tkt-info--left {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .dummy-tkt-info--left.image {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--left {
    width: 50%;
  }
  .dummy-tkt-info--left.image {
    width: 47%;
  }
}
.dummy-tkt-info--left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--left img {
    width: auto;
    object-fit: none;
  }
}
.dummy-tkt-info h2 {
  font-weight: 700;
  color: #00255a;
}
@media only screen and (min-width: 1200px) {
  .dummy-tkt-info h2 {
    font-size: 34px;
  }
}
.dummy-tkt-info h3 {
  font-size: 20px;
  font-weight: 700;
}
.dummy-tkt-info ul {
  list-style: none;
  padding-left: 0px;
}
.dummy-tkt-info ul li {
  padding-bottom: 4px;
}
.dummy-tkt-info ul i {
  color: #3597d9;
}
@media only screen and (min-width: 1200px) {
  .dummy-tkt-info p {
    font-size: 17px;
  }
}
.dummy-tkt-info--right {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .dummy-tkt-info--right.image {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--right {
    width: 50%;
  }
}
.dummy-tkt-info--right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--right img {
    width: auto;
    object-fit: none;
  }
}

.reasons {
  background-color: rgba(228, 243, 251, 0.9019607843);
}
.reasons__box {
  max-width: 100%;
  width: 100%;
  padding: 40px 16px 20px;
  background-color: #f6f9fa;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border-radius: 6px;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .reasons__box {
    max-width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .reasons__box {
    max-width: 46%;
  }
}
@media only screen and (min-width: 992px) {
  .reasons__box {
    max-width: 33.33%;
  }
}
@media only screen and (min-width: 1200px) {
  .reasons__box {
    max-width: 25%;
  }
}
.reasons__box .icon-box {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.reasons__box .icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons__box h6 {
  font-size: 20px;
  font-weight: 700;
  color: #00255a;
}
.reasons__box p {
  font-size: 16px;
}

.faq__content {
  width: 100%;
}
.faq__content .accordion {
  width: 100%;
  --bs-accordion-color: #000;
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 1px;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z' clip-rule='evenodd' /%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
@media only screen and (min-width: 992px) {
  .faq__content .accordion {
    width: 50%;
  }
}
.faq__content .accordion-item {
  border: 0;
}
.faq__content .accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.faq__content .accordion-button {
  background-color: #3597d9;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: var(--bs-accordion-btn-padding-y) 14px;
  font-weight: 600;
  font-size: 17px;
}
.faq__content .accordion-body {
  background-color: #c0e3fc;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
}

.testimonial {
  position: relative;
}
.testimonial::before {
  content: "";
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.81), rgba(34, 73, 98, 0.4117647059)), url("../../assets/Banner-image-3.jpg") lightgrey no-repeat 50%/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 576px) {
  .testimonial::before {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial::before {
    height: 500px;
  }
}
.testimonial__item {
  padding: 40px 24px;
  background: #f6f9fa;
  transition: transform 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
  border-radius: 4px;
  height: 100%;
}
@media only screen and (min-width: 576px) {
  .testimonial__item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
    padding: 30px 30px;
  }
}
@media only screen and (min-width: 768px) {
  .testimonial__item {
    padding: 40px 24px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial__item {
    transform: scale(0.87);
  }
}
.testimonial__item__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media only screen and (min-width: 992px) {
  .testimonial__item__image {
    width: 80px;
    height: 80px;
  }
}
.testimonial__item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial__item__name {
  color: #00255a;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.65;
  margin-block: 10px 12px;
}
@media only screen and (min-width: 768px) {
  .testimonial__item__name {
    font-size: 20px;
  }
}
.testimonial__item__details {
  color: #000;
  font-size: 14px;
  line-height: 1.75;
  max-height: 200px;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  .testimonial__item__details {
    font-size: 16px;
  }
}
.testimonial__item__details::-webkit-scrollbar {
  width: 6px;
}
.testimonial__item__details::-webkit-scrollbar-track {
  background: #a1d7fd;
  border-radius: 40px;
}
.testimonial__item__details::-webkit-scrollbar-thumb {
  background-color: #5897c4;
  border-radius: 40px;
}
.testimonial .splide {
  padding: 0 16px;
}
.testimonial .splide__list {
  height: 420px;
}
@media only screen and (min-width: 768px) {
  .testimonial .splide__list {
    height: 480px;
  }
}
.testimonial .splide__slide {
  height: 400px;
}
@media only screen and (min-width: 768px) {
  .testimonial .splide__slide {
    height: 480px;
  }
}
@media only screen and (min-width: 768px) {
  .testimonial .splide__slide.is-visible.is-active {
    height: 460px;
  }
}
.testimonial .splide__slide.is-visible.is-active .testimonial__item {
  border-radius: 6px;
}
@media only screen and (min-width: 768px) {
  .testimonial .splide__slide.is-visible.is-active .testimonial__item {
    transform: scale(1);
  }
}
@media only screen and (min-width: 992px) {
  .testimonial .splide {
    padding: 0 58px;
  }
}
.testimonial .splide__arrow.testimonial__arrow {
  width: 28px;
  height: 28px;
  background: transparent;
  border: 2px solid #c0e3fc;
}
@media only screen and (min-width: 992px) {
  .testimonial .splide__arrow.testimonial__arrow {
    width: 38px;
    height: 38px;
  }
}
.testimonial .splide__arrow.testimonial__arrow svg {
  fill: none;
  stroke: #c0e3fc;
  stroke-width: 3px;
  width: 8px;
}
.testimonial .splide__arrow.testimonial__arrow--prev {
  left: 0px;
}
.testimonial .splide__arrow.testimonial__arrow--next {
  right: 0px;
}

.footer {
  background-color: #00337e;
}
.footer .brand {
  max-width: 100%;
}
@media only screen and (min-width: 576px) {
  .footer .brand {
    max-width: 463px;
  }
}
.footer .brand__image {
  width: 50px;
  height: 50px;
}
.footer .brand__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer .brand__name h2 {
  color: #fff;
  text-shadow: 0px 3px 3px rgb(6, 21, 49);
}
.footer .brand__privacy {
  padding-top: 16px;
  color: #d0cece;
  font-size: 17px;
}
.footer__menu {
  width: 100%;
  gap: 42px;
}
@media only screen and (min-width: 576px) {
  .footer__menu {
    width: auto;
  }
}
.footer__menu__navigation {
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 576px) {
  .footer__menu__navigation {
    flex-direction: row;
    gap: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__menu__navigation {
    flex-direction: row;
    gap: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__menu__navigation {
    flex-direction: row;
    gap: 48px;
  }
}
.footer__menu__navigation li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__menu__navigation li a:hover {
  color: #c0e3fc;
}
.footer__menu__social {
  width: 100%;
  gap: 0;
}
@media only screen and (min-width: 576px) {
  .footer__menu__social {
    width: auto;
    gap: 24px;
  }
}
.footer__menu__social li a {
  text-decoration: none;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s;
}
.footer__menu__social li a:hover {
  background: #3597d9;
}

.tkt-booking {
  margin-top: 120px;
  min-height: 70vh;
}
@media only screen and (min-width: 1200px) {
  .tkt-booking {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
  }
}
.tkt-booking__process {
  list-style: none;
  padding-left: 0px;
}
.tkt-booking__process__btn {
  outline: none;
  border: 0;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #80b0d2;
  color: #00337e;
  font-weight: 600;
  cursor: auto;
}
@media only screen and (min-width: 992px) {
  .tkt-booking__process__btn {
    font-size: 20px;
    padding: 16px 24px;
  }
}
.tkt-booking__process__btn.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.tkt-booking__form .details-box {
  display: none;
}
.tkt-booking__form .details-box.active {
  display: block;
}
.tkt-booking__form .title--route {
  color: #00255a;
  font-weight: 700;
  font-size: 28px;
}
.tkt-booking__form .route-btn button {
  outline: 0;
  border: 0;
  padding: 10px 20px;
  font-weight: 500;
  color: #000;
  background-color: rgba(228, 243, 251, 0.9019607843);
  border: 2px solid #c0e3fc;
  transition: all 0.2s ease-in;
}
.tkt-booking__form .route-btn button.one {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tkt-booking__form .route-btn button.two {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tkt-booking__form .route-btn button.active {
  background-color: #80b0d2;
  border-color: #3597d9;
}
.tkt-booking__form .input-label {
  font-size: 17px;
  font-weight: 600;
  color: #00337e;
}
.tkt-booking__form .input-box {
  position: relative;
}
.tkt-booking__form .input-box--w280 {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .tkt-booking__form .input-box--w280 {
    width: 280px;
  }
}
.tkt-booking__form .input-box--w120 {
  width: 140px;
}
@media only screen and (min-width: 768px) {
  .tkt-booking__form .input-box--w120 {
    width: 120px;
  }
}
.tkt-booking__form .input-box--w100 {
  width: 100%;
}
.tkt-booking__form .input-box--w80 {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .tkt-booking__form .input-box--w80 {
    width: 80%;
  }
}
.tkt-booking__form .input-box__icon--plane {
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 8px;
  color: #00337e;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.4s ease-out;
}
.tkt-booking__form .input-box__icon--email {
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 8px;
  color: #80b0d2;
  transform: translateY(-50%);
}
.tkt-booking__form .input-box__route {
  padding-left: 32px;
}
.tkt-booking__form .input-box__route:focus + .input-box__icon--plane {
  transform: translateY(-50%) rotate(90deg);
}
.tkt-booking__form .input-box__email {
  padding-left: 32px;
}
.tkt-booking__form .input .return-icon {
  display: flex;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 50%;
  z-index: 1;
}
.tkt-booking__form .input .return-icon i {
  color: #00337e;
}
.tkt-booking__form .input .disable-return-way {
  display: none !important;
}
.tkt-booking__form .input .cross-icon {
  border: 0;
  width: 100%;
  height: 32px;
  background-color: #c0e3fc;
  color: #00337e;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .tkt-booking__form .input .cross-icon {
    width: 40px;
    border-radius: 50%;
  }
}
.tkt-booking__form .add-passenger-btn {
  width: 100%;
  outline: none;
  border: 0;
  background-color: #80b0d2;
  padding-block: 8px;
  border-radius: 8px;
}
.tkt-booking__form .add-passenger-btn:hover {
  background-color: #3597d9;
}
.tkt-booking__form .add-passenger-btn i {
  color: #00337e;
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  .tkt-booking__form .add-passenger-btn i {
    font-size: 24px;
  }
}
.tkt-booking__invoice .invoice {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
  padding-block: 28px 32px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  position: sticky;
  top: 62px;
}
@media only screen and (min-width: 576px) {
  .tkt-booking__invoice .invoice {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .tkt-booking__invoice .invoice {
    width: 55%;
  }
}
@media only screen and (min-width: 992px) {
  .tkt-booking__invoice .invoice {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .tkt-booking__invoice .invoice {
    width: 90%;
  }
}
.tkt-booking__invoice .invoice--title {
  padding-block: 8px;
  border-radius: 8px;
  background-color: rgba(228, 243, 251, 0.9019607843);
  margin-bottom: 24px;
}
.tkt-booking__invoice .invoice--title h3 {
  font-weight: 600;
  color: #00337e;
}
.tkt-booking__invoice table {
  width: 100%;
}
.tkt-booking__invoice table thead th {
  border-bottom: 2px dashed #000;
  padding: 8px 0px 8px 8px;
}
.tkt-booking__invoice table tbody tr:not(:last-child) {
  border-bottom: 2px solid #666;
}
.tkt-booking__invoice table tbody td {
  padding: 8px 0px 8px 8px;
}

.pay {
  margin-top: 100px;
}
.pay .booking-details {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .pay .booking-details {
    width: 50%;
  }
}
.pay .booking-details .info .info-label {
  font-size: 18px;
  font-weight: 700;
  color: #00337e;
}
.pay .booking-details .info-txt {
  color: #5f5a5a;
  font-size: 18px;
}
.pay-block {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .pay-block {
    width: 50%;
  }
}
.pay-block .title {
  font-size: 40px;
  font-weight: 700;
  color: #00337e;
  margin-bottom: 20px;
}
.pay-block .tkt-price {
  padding: 24px 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  background-color: rgba(228, 243, 251, 0.9019607843);
  border-radius: 8px;
}
@media only screen and (min-width: 992px) {
  .pay-block .tkt-price {
    padding: 24px;
  }
}
.pay-block .tkt-price table {
  width: 100%;
}
.pay-block .tkt-price table tr td {
  padding: 8px;
  font-size: 18px;
}
.pay-block .tkt-price table tr td:last-child {
  font-weight: 500;
  color: #00255a;
  text-align: right;
}
.pay-block .tkt-price table tr:last-child td {
  font-weight: 800;
  color: #00255a;
}
.pay-block .coupon {
  width: 300px;
  padding: 16px 12px;
  background-color: #f6f9fa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  margin-top: 28px;
}
.pay-block .coupon input::placeholder {
  color: #afadad;
}
.pay-block .coupon button {
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: #80b0d2;
  color: #00337e;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
}
.pay-block .coupon button:hover {
  border: 2px solid #3597d9;
  color: #00255a;
}
.pay-block .payment {
  margin-top: 24px;
}
.pay-block .payment__method {
  background-color: #f6f9fa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: fit-content;
  border-radius: 8px;
}
.pay-block .payment__method__btn {
  border-radius: 8px;
  padding: 20px 24px;
  border: 2px solid transparent;
  font-weight: 500;
}
.pay-block .payment__method__btn.active {
  border: 2px solid #80b0d2;
  background-color: #c0e3fc;
  box-shadow: rgba(10, 103, 180, 0.33) 0px 3px 8px;
}
.pay-block .payment__method__content {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .pay-block .payment__method__content {
    width: 350px;
  }
}
.pay-block .payment__method--card .search {
  position: relative;
}
.pay-block .payment__method--card .search__btn {
  padding: 6px 12px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}
.pay-block .payment__method--card .search__btn:focus {
  border-color: #c0e3fc;
  box-shadow: 0 0 5px 0px #80b0d2;
}
.pay-block .payment__method--card .search__btn i {
  font-size: 14px;
  transition: transform 0.3s linear;
}
.pay-block .payment__method--card .search__content {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  padding: 20px 16px 0px 16px;
  margin-top: 8px;
  border-radius: 8px;
}
.pay-block .payment__method--card .search__content__input {
  position: relative;
}
.pay-block .payment__method--card .search__content__input input {
  padding-left: 32px;
}
.pay-block .payment__method--card .search__content__input i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #929292;
  font-size: 15px;
}
.pay-block .payment__method--card .search__content__options {
  padding-left: 0px;
  list-style: none;
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.pay-block .payment__method--card .search__content__options::-webkit-scrollbar {
  width: 6px;
}
.pay-block .payment__method--card .search__content__options::-webkit-scrollbar-track {
  background: #a1d7fd;
  border-radius: 40px;
}
.pay-block .payment__method--card .search__content__options::-webkit-scrollbar-thumb {
  background-color: #5897c4;
  border-radius: 40px;
}
.pay-block .payment__method--card .search__content__options li {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
.pay-block .payment__method--card .search__content__options li:is(:hover, .selected) {
  background-color: rgba(228, 243, 251, 0.9019607843);
}
.pay-block .payment__method--card .search.active .search__btn i {
  transform: rotate(-180deg);
}
.pay-block .payment__method--card .search.active .search__content {
  display: block;
}
.pay-block .payment__method--card .card-info .input-field label {
  color: #00255a;
  font-weight: 600;
}
.pay-block .payment__method--card .card-info .input-field input::placeholder {
  color: #929292;
}
.pay-block .payment-btn {
  padding-block: 12px;
  border-radius: 8px;
  background-color: #c0e3fc;
  color: #00337e;
  font-size: 18px;
  font-weight: 800;
  transition: background-color 0.2s ease;
}
.pay-block .payment-btn:hover {
  background-color: #a2d0f1;
}
.pay-block .payment__paypal .button {
  width: 100%;
  background-color: #f2ba36;
}
.pay-block .payment__paypal .button-paypal img {
  height: 24px;
}

.about-hero {
  min-height: 50vh;
  position: relative;
  margin-top: 62px;
  background-image: linear-gradient(to top, rgba(37, 42, 45, 0.54) 0%, rgba(10, 82, 109, 0.58) 100%), url(../../assets/about-us-3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
@media only screen and (min-width: 992px) {
  .about-hero {
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 1200px) {
  .about-hero {
    margin-top: 72px;
  }
}
.about-hero__content {
  color: #fff;
}
.about-hero__content h1 {
  text-shadow: 0px 3px 3px rgb(101, 101, 101);
  font-weight: 700;
}
.about-hero__content p {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .about-hero__content p {
    width: 680px;
  }
}

.our-story__content h1 {
  color: #00255a;
  width: fit-content;
}
.our-story__content h1 .underline {
  display: block;
  height: 1.5px;
  width: 0;
  margin: 16px auto;
  transition: width 0.5s linear;
  background-color: #00255a;
}
.our-story__paragraph {
  max-width: 100%;
}
@media only screen and (min-width: 1200px) {
  .our-story__paragraph {
    max-width: 1150px;
  }
}
.our-story__paragraph p {
  margin-bottom: 16px;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
  color: #000;
}
.our-story__paragraph p a:hover {
  text-decoration: underline;
}

.overview__content {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .overview__content {
    width: 50%;
  }
}
.overview__content h1 {
  color: #00255a;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .overview__content h1 {
    text-align: start;
  }
}
.overview__content p {
  color: #000;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .overview__content p {
    text-align: start;
  }
}
.overview__image {
  width: 100%;
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .overview__image {
    width: 45%;
  }
}
.overview__image figure {
  position: relative;
  display: block;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.overview__image figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.overview__image figure:hover::before {
  animation: shine 0.5s linear;
}
.overview__image figure img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join-us__content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f6f9fa;
  padding: 50px 30px;
  border-radius: 8px;
}
.join-us__content h1, .join-us__content p {
  text-align: center;
}
.join-us__content h1 {
  color: #00255a;
}
.join-us__content p {
  color: #000;
  font-size: 17px;
  line-height: 28px;
}

.contact-hero {
  min-height: 50vh;
  position: relative;
  margin-top: 62px;
  background-image: linear-gradient(to top, rgba(37, 42, 45, 0.54) 0%, rgba(10, 82, 109, 0.58) 100%), url(../../assets/contact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
@media only screen and (min-width: 992px) {
  .contact-hero {
    background-attachment: fixed;
    background-position: center calc(50% - 88px + 0.833vw);
  }
}
@media only screen and (min-width: 1200px) {
  .contact-hero {
    margin-top: 72px;
  }
}
.contact-hero__content {
  color: #fff;
}
.contact-hero__content h1 {
  text-shadow: 0px 2px 2px rgb(101, 101, 101);
  font-weight: 700;
}
.contact-hero__content p {
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .contact-hero__content p {
    width: 550px;
  }
}

.contact-us--left {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .contact-us--left {
    width: 50%;
  }
}
.contact-us--left h2 {
  font-size: 30px;
  font-weight: 600;
  color: #00255a;
}
.contact-us--left button {
  width: fit-content;
}
.contact-us--left .form-label {
  font-weight: 500;
  color: #00255a;
  font-size: 17px;
}
.contact-us--right {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .contact-us--right {
    width: 60%;
  }
}
.contact-us__service {
  background-color: #f6f9fa;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 40px 32px;
  border-radius: 8px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .contact-us__service {
    width: 80%;
    margin-inline: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-us__service {
    width: 60%;
    margin-inline: auto;
  }
}
.contact-us__service__image {
  width: 80%;
  margin-inline: auto;
}
@media only screen and (min-width: 992px) {
  .contact-us__service__image {
    max-height: 260px;
  }
}
.contact-us__service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-us__service i {
  font-size: 24px;
  color: #00337e;
}
.contact-us__service i::before {
  display: block;
  width: 20px;
  height: 20px;
}
.contact-us__service .location i {
  margin-top: 4px;
}

.blog-hero {
  min-height: 50vh;
  position: relative;
  margin-top: 62px;
  background-image: linear-gradient(to top, rgba(37, 42, 45, 0.54) 0%, rgba(10, 82, 109, 0.58) 100%), url("../../assets/blog-banner-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
@media only screen and (min-width: 992px) {
  .blog-hero {
    background-attachment: fixed;
    background-position: center calc(50% - 88px + 0.833vw);
  }
}
@media only screen and (min-width: 1200px) {
  .blog-hero {
    margin-top: 72px;
  }
}
.blog-hero__content {
  color: #fff;
}
.blog-hero__content h1 {
  text-shadow: 0px 2px 2px rgb(101, 101, 101);
  font-weight: 700;
}
.blog-hero__content p {
  font-size: 15px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 48px;
}
@media only screen and (min-width: 1200px) {
  .blog {
    grid-template-columns: 3fr 1.2fr;
  }
}
.blog__cards {
  gap: 30px;
}
@media only screen and (min-width: 1200px) {
  .blog__cards {
    gap: 48px;
  }
}
.blog__card {
  width: 100%;
  border-radius: 8px;
  background-color: #f6f9fa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 992px) {
  .blog__card {
    width: 48%;
  }
}
@media only screen and (min-width: 1200px) {
  .blog__card {
    width: 45%;
  }
}
.blog__card__image {
  width: 100%;
  max-height: 420px;
}
.blog__card__image img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__card__content {
  padding: 14px 8px 24px 8px;
}
@media only screen and (min-width: 992px) {
  .blog__card__content {
    padding: 20px 24px 30px 24px;
  }
}
.blog__card__title a {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #00255a;
  transition: all 0.2s ease-in;
}
.blog__card__title a:hover {
  color: #00337e;
}
.blog__card__exerpt {
  padding-top: 14px;
}
.blog__card__exerpt p {
  font-size: 15px;
}
.blog__card__author {
  padding-top: 14px;
}
.blog__card__author--img {
  width: 30px;
  height: 30px;
}
.blog__card__author--img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__card__author .vertical-separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 20px;
}
.blog .category-name {
  width: fit-content;
  position: relative;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
}
.blog .category-name a {
  padding: 4px 16px 4px 30px;
  color: #00337e;
}
.blog .category-name a:hover {
  color: #3597d9;
}
.blog .category-name::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  left: 15px;
}
.blog .search {
  border-radius: 8px;
  padding: 30px 20px 40px 20px;
  background-color: #f6f9fa;
}
.blog .search__title {
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
  font-weight: 500;
  color: #00255a;
}
.blog .search-input__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  border: 0;
  padding: 10px 6px 10px 30px;
  position: relative;
  margin-top: 24px;
}
.blog .search-input__wrapper input {
  width: 85%;
  outline: none;
  border: 0;
}
.blog .search-input__wrapper input:focus {
  border: 0;
}
.blog .search-input__wrapper button {
  width: 50px;
  height: 50px;
  margin: 0;
  background: #3B71FE;
  border-radius: 50px;
}
.blog .search-input__wrapper button i {
  color: #fff;
}
.blog .popular-posts {
  border-radius: 8px;
  padding: 30px 20px 40px 20px;
  background-color: #f6f9fa;
}
.blog .popular-posts .title {
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
  font-weight: 500;
  color: #00255a;
}
.blog .popular-posts ul {
  list-style: none;
  padding-left: 0;
}
.blog .popular-posts ul .list__image {
  width: 90px;
  height: 90px;
}
.blog .popular-posts ul .list__image a {
  width: 100%;
  height: 100%;
}
.blog .popular-posts ul .list__image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog .popular-posts ul .list__caption {
  flex: 1 1 0;
}
.blog .popular-posts ul .list__caption a {
  font-size: 18px;
  line-height: 24px;
  color: #00337e;
  font-weight: 500;
  transition: color 0.2s ease-in;
}
.blog .popular-posts ul .list__caption a:hover {
  color: #3597d9;
}
.blog .popular-posts ul .list__caption p {
  font-size: 14px;
}
.blog .categories {
  border-radius: 8px;
  padding: 30px 20px 40px 20px;
  background-color: #f6f9fa;
}
.blog .categories .title {
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
  font-weight: 500;
  color: #00255a;
}
.blog .categories ul {
  list-style: none;
  padding-left: 0;
}
.blog .categories ul li {
  padding: 17px 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-bottom: 12px;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}