@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

.fw-extra-bold {
  font-weight: 800;
}

.text-22 {
  font-size: 22px;
}

.text-40 {
  font-size: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-60 {
  margin-bottom: 60px;
}

.gap-40 {
  gap: 8px;
}
@media only screen and (min-width: 1200px) {
  .gap-40 {
    gap: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .gap-40 {
    gap: 40px;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #d0de8f;
  border-radius: 4px;
}

.section {
  padding-block: 62px;
}
.section__gap--60 {
  margin-top: 60px;
}
.section__header {
  margin-bottom: 62px;
}
.section__header h2 {
  font-weight: 800;
  color: #00255a;
  text-align: center;
}
.section__header p {
  font-size: 20px;
}

.button {
  outline: none;
  border: 0;
  padding: 10px 24px;
  width: 180px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
}
.button svg {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in;
  margin-left: -12px;
  transform: translateX(-10px);
}
.button .btn-text {
  transition: all 0.2s ease-in;
}
.button:hover svg {
  opacity: 1;
  transform: translateX(0px);
}
.button:hover .btn-text {
  transform: translateX(12px);
}

.paragraph-normal {
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .paragraph-normal {
    font-size: 16px;
  }
}
.paragraph-medium {
  font-size: 18px;
}
.paragraph-semi-large {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .paragraph-semi-large {
    font-size: 20px;
  }
}

.text-color-p200 {
  color: #00337e;
}

.text-color-p300 {
  color: #00255a;
}

.navbar {
  --bs-navbar-active-color: #D0DE8F;
  --bs-navbar-color: white;
  --bs-navbar-hover-color: #D0DE8F;
}
.navbar.nav {
  padding: 10px 0px;
  margin-bottom: -26px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1200px) {
  .navbar.nav {
    padding: 10px 0px;
  }
}
.navbar.nav.scroll-change {
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}
.navbar.nav.navAnimateToTop {
  top: 0;
  animation: navAnimateDown 0.2s forwards ease-in;
}
.navbar-wrapper {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .navbar-wrapper {
    width: auto;
  }
}
.navbar__logo {
  width: clamp(20px, 2.125rem + 0.833vw, 40px);
}
.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar__logo span {
  font-size: 20px;
  font-weight: 700;
  color: #00337e;
}
@media only screen and (min-width: 992px) {
  .navbar__logo span {
    font-size: 24px;
  }
}
.navbar-toggler {
  box-shadow: none !important;
}
.navbar-toggler .line {
  fill: none;
  stroke: #000;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-toggler .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar-toggler .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.navbar-toggler .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.navbar-toggler.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navbar-toggler.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.navbar-toggler.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-collapse a {
  color: #000;
  font-weight: 500;
}
.navbar-collapse a:hover {
  color: #00337e;
}
.navbar .button {
  width: 100%;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .navbar .button {
    width: auto;
    justify-content: space-between;
  }
}

.hero {
  min-height: 65vh;
  position: relative;
  margin-top: 62px;
}
@media only screen and (min-width: 576px) {
  .hero {
    min-height: 50vh;
  }
}
.hero__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero__bg__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__bg__gradient {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(270deg, rgba(26, 43, 61, 0) 0%, rgba(20, 55, 61, 0.6509803922) 100%);
}
.hero__content {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero__content p {
    width: 680px;
  }
}
.hero__content h1 {
  font-weight: 700;
}

.airline-slider .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --font-size: 0.8em;
  --bg1: #e4f3fbe6;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

.booking {
  background-color: var(--bg1);
}

ul.infoGraphic {
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 33.33em;
  background: var(--bg1);
  border-radius: 0.5em;
  padding: 1em;
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
}
ul.infoGraphic li .numberWrap {
  position: absolute;
  top: 0;
  max-height: -webkit-fill-available;
}
ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 10.5em;
  font-weight: 900;
  width: 0.8em;
  text-align: center;
}
ul.infoGraphic li .number.fontColor1 {
  color: var(--blue);
}
ul.infoGraphic li .number.fontColor2 {
  color: var(--green);
}
ul.infoGraphic li .number.fontColor3 {
  color: var(--purple);
}
ul.infoGraphic li .coverWrap {
  transform: rotate(130deg);
  position: absolute;
  width: 18em;
  height: 15em;
  left: -3em;
  top: -1em;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}
ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  box-shadow: 0 0 30px 17px rgba(72, 102, 133, 0.4666666667);
  border-radius: 100px/10px;
  z-index: -1;
}
ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(at bottom, rgba(72, 102, 133, 0.2), transparent, transparent);
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 6em 1em 1em 7em;
  position: relative;
}
ul.infoGraphic li .content h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #00255a;
  text-align: center;
  margin-bottom: 8px;
  text-transform: uppercase;
}
ul.infoGraphic li .content p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.4em;
  left: 50%;
  transform: translateX(-50%);
  color: #00337e;
}

.dummy-tkt-info--left {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .dummy-tkt-info--left.image {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--left {
    width: 50%;
  }
  .dummy-tkt-info--left.image {
    width: 47%;
  }
}
.dummy-tkt-info--left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--left img {
    width: auto;
    object-fit: none;
  }
}
.dummy-tkt-info h2 {
  font-weight: 700;
  color: #00255a;
}
@media only screen and (min-width: 1200px) {
  .dummy-tkt-info h2 {
    font-size: 34px;
  }
}
.dummy-tkt-info h3 {
  font-size: 20px;
  font-weight: 700;
}
.dummy-tkt-info ul {
  list-style: none;
  padding-left: 0px;
}
.dummy-tkt-info ul li {
  padding-bottom: 4px;
}
.dummy-tkt-info ul i {
  color: #3597d9;
}
@media only screen and (min-width: 1200px) {
  .dummy-tkt-info p {
    font-size: 17px;
  }
}
.dummy-tkt-info--right {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .dummy-tkt-info--right.image {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--right {
    width: 50%;
  }
}
.dummy-tkt-info--right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .dummy-tkt-info--right img {
    width: auto;
    object-fit: none;
  }
}

.reasons {
  background-color: rgba(228, 243, 251, 0.9019607843);
}
.reasons__box {
  max-width: 100%;
  width: 100%;
  padding: 40px 16px 20px;
  background-color: #c0e3fc;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border-radius: 6px;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .reasons__box {
    max-width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .reasons__box {
    max-width: 46%;
  }
}
@media only screen and (min-width: 992px) {
  .reasons__box {
    max-width: 33.33%;
  }
}
@media only screen and (min-width: 1200px) {
  .reasons__box {
    max-width: 25%;
  }
}
.reasons__box .icon-box {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.reasons__box .icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons__box h6 {
  font-size: 20px;
  font-weight: 700;
  color: #00255a;
}
.reasons__box p {
  font-size: 16px;
}

.faq__content {
  width: 100%;
}
.faq__content .accordion {
  width: 100%;
  --bs-accordion-color: #000;
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 1px;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z' clip-rule='evenodd' /%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
@media only screen and (min-width: 992px) {
  .faq__content .accordion {
    width: 50%;
  }
}
.faq__content .accordion-item {
  border: 0;
}
.faq__content .accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.faq__content .accordion-button {
  background-color: #3597d9;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: var(--bs-accordion-btn-padding-y) 14px;
  font-weight: 600;
  font-size: 17px;
}
.faq__content .accordion-body {
  background-color: #c0e3fc;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
}

.testimonial {
  position: relative;
}
.testimonial::before {
  content: "";
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.81), rgba(34, 73, 98, 0.4117647059)), url("../../assets/Banner-image-3.jpg") lightgrey no-repeat 50%/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 576px) {
  .testimonial::before {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial::before {
    height: 500px;
  }
}
.testimonial__item {
  padding: 40px 24px;
  background: #80b0d2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s;
  border-radius: 4px;
  height: 100%;
}
@media only screen and (min-width: 576px) {
  .testimonial__item {
    padding: 30px 30px;
  }
}
@media only screen and (min-width: 768px) {
  .testimonial__item {
    padding: 40px 24px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial__item {
    transform: scale(0.9);
  }
}
.testimonial__item__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media only screen and (min-width: 992px) {
  .testimonial__item__image {
    width: 80px;
    height: 80px;
  }
}
.testimonial__item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial__item__date {
  color: #000;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .testimonial__item__date {
    font-size: 16px;
    margin-bottom: 14px;
  }
}
.testimonial__item__rating {
  margin-bottom: 8px;
}
.testimonial__item__details {
  color: #000;
  font-size: 14px;
  line-height: 1.75;
}
@media only screen and (min-width: 768px) {
  .testimonial__item__details {
    font-size: 16px;
    max-height: 200px;
    overflow-y: auto;
  }
}
.testimonial__item__details::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}
.testimonial__item__details::-webkit-scrollbar-track {
  background: #a1d7fd;
  border-radius: 40px;
  /* color of the tracking area */
}
.testimonial__item__details::-webkit-scrollbar-thumb {
  background-color: #5897c4;
  /* color of the scroll thumb */
  border-radius: 40px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
.testimonial__item__name {
  color: #00255a;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.65;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .testimonial__item__name {
    font-size: 20px;
  }
}
.testimonial .splide {
  padding: 0 16px;
}
@media only screen and (min-width: 992px) {
  .testimonial .splide {
    padding: 0 58px;
  }
}
.testimonial .splide__arrow.testimonial__arrow {
  width: 28px;
  height: 28px;
  background: transparent;
  border: 2px solid #d0de8f;
}
@media only screen and (min-width: 992px) {
  .testimonial .splide__arrow.testimonial__arrow {
    width: 38px;
    height: 38px;
  }
}
.testimonial .splide__arrow.testimonial__arrow svg {
  fill: none;
  stroke: #d0de8f;
  width: 8px;
}
.testimonial .splide__arrow.testimonial__arrow--prev {
  left: 0px;
}
.testimonial .splide__arrow.testimonial__arrow--next {
  right: 0px;
}
.testimonial .is-visible.is-active .testimonial__item {
  border-radius: 4px;
}
@media only screen and (min-width: 768px) {
  .testimonial .is-visible.is-active .testimonial__item {
    transform: scale(1);
  }
}