:root {
  // Scale is using this font-size
  --font-size: 0.8em;
  --bg1: rgb(244 249 252 / 78%);
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

.booking {
  background-color: var(--bg1);
}

ul.infoGraphic {
  // Resize with Ems
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    position: relative;
    width: 100%;
    max-width: 33.33em;
    background: var(--bg1);
    border-radius: 0.5em;
    padding: 1em;
    z-index: 1;
    transition: all 0.2s;
    cursor: pointer;

    .numberWrap {
      position: absolute;
      top: 0;
      max-height: -webkit-fill-available;
    }

    .number {
      font-family: "maven pro", sans-serif;
      font-size: 10.5em;
      font-weight: 900;
      width: 0.8em;
      text-align: center;

      &.fontColor1 {
        color: var(--blue);
      }

      &.fontColor2 {
        color: var(--green);
      }

      &.fontColor3 {
        color: var(--purple);
      }
    }

    .coverWrap {
      transform: rotate(130deg);
      position: absolute;
      width: 18em;
      height: 15em;
      left: -3em;
      top: -1em;

      .numberCover {
        position: absolute;
        background: var(--bg1);
        width: 18em;
        height: 6em;
        border-radius: 50% 50% 0 0;
        border-bottom: 3px solid #f5f8f7;
        transition: all 0.4s;

        &::before {
          position: absolute;
          content: "";
          bottom: 0px;
          left: 4em;
          right: 4em;
          top: 5em;
          box-shadow: 0 0 30px 5px #48668577;
          border-radius: 100px / 10px;
          z-index: -1;
        }

        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          left: -10%;
          width: 120%;
          height: 150%;
          background: radial-gradient(at bottom,
          rgb(156 157 159 / 20%),
              transparent,
              transparent);
          z-index: 1;
        }
      }
    }

    .content {
      margin: 6em 1em 1em 7.5em;
      position: relative;

      h2 {
        font-size: 1.5em;
        font-weight: 600;
        color: $primary-color-p400;
        text-align: center;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      p {
        text-align: center;
        font-size: 1.2em;
        line-height: 1.3em;
      }
    }
  }
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.4em;
  left: 50%;
  transform: translateX(-50%);
  color: #00337e;
}