.booking-details {
    margin-top: 100px;
    .info {
        .info-label {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color-p300;
        }
        &-txt {
            color: #5f5a5a;
            font-size: 18px;
        }
    }
}