.hero{
    min-height: 65vh;
    position: relative;
    margin-top: 62px;
    background-image: linear-gradient(to left, rgba(26, 43, 61, 0) 0%, rgb(16 36 40 / 65%) 100%), url(../../assets/Banner-image-5.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    @include xl {
        margin-top: 72px;
    }
    @include sm {
        min-height: 70vh;
    }
    &__content{
        color: #fff;
        @include md {
            p {
                width: 680px;
            }
        }
        h1 {
            font-weight: 700;
        }
    }
}