.join-us {
    &__content {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $white-200;
        padding: 50px 30px;
        border-radius: 8px;
        h1, p {
            text-align: center;
        }
        h1 {
            color: $primary-color-p400;
        }
        p {
            color: #000;
            font-size: 17px;
            line-height: 28px;
        }
    }
}