.our-story {
    &__content {
        h1 {
            color: $primary-color-p400;
            width: fit-content;
            .underline {
                display: block;
                height: 1.5px;
                width: 0;
                margin: 16px auto;
                transition: width 0.5s linear;
                background-color: $primary-color-p400;
            }
        }
    }
    &__paragraph {
        max-width: 100%;
        @include xl {
            max-width: 1150px;
        }
        p{
            margin-bottom: 16px;
            text-align: center;
            line-height: 28px;
            font-size: 17px;
            color: #000;
            a{
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}