.testimonial {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 500px;
        background: linear-gradient(rgb(255 255 255 / 81%), rgba(34, 73, 98, 0.4117647059)), url('../../assets/Banner-image-3.jpg') lightgrey no-repeat 50% / cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @include sm {
            height: 400px;
        }

        @include lg {
            height: 500px;
        }
    }

    &__item {
        padding: 40px 24px;
        background: $white-200; 
        transition: transform .3s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
        border-radius: 4px;
        height: 100%;
        
        @include sm {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
            padding: 30px 30px;
        }

        @include md {
            padding: 40px 24px;
        }

        @include lg {
            transform: scale(0.87);
        }

        &__image {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            @include lg {
                width: 80px;
                height: 80px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;

            }
        }

        &__name {
            color: $primary-color-p400;
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
            line-height: 1.65;
            margin-block: 10px 12px;

            @include md {
                font-size: 20px;
            }
        }

        &__details {
            color: #000;
            font-size: 14px;
            line-height: 1.75;
            max-height: 200px;
            overflow-y: auto;

            @include md {
                font-size: 16px;
            }

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #a1d7fd;
                border-radius: 40px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #5897c4;
                border-radius: 40px;
            }
        }


    }

    .splide {
        padding: 0 16px;
        &__list {
            height: 420px;
            @include md {
                height: 480px;
            }
        }
        &__slide {
            height: 400px;
            @include md {
                height: 480px;
            }
            &.is-visible {
                &.is-active {
                    @include md {
                        height: 460px;
                    }
                    .testimonial {
                        &__item {
                            border-radius: 6px;
                            @include md {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
        @include lg {
            padding: 0 58px;
        }

        &__arrow {
            &.testimonial__arrow {
                width: 28px;
                height: 28px;
                background: transparent;
                border: 2px solid $primary-color-p75;

                @include lg {
                    width: 38px;
                    height: 38px;
                }

                svg {
                    fill: none;
                    stroke: $primary-color-p75;
                    stroke-width: 3px;
                    width: 8px;
                }

                &--prev {
                    left: 0px;
                }

                &--next {
                    right: 0px;
                }
            }
        }
    }

    
}