//----------- google font links -----------
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a{
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

//----------- custom font -----------


//----------- custom font weight-----------
.fw-extra-bold {
  font-weight: 800;
}

//----------- custom font sizes -----------
.text-22 {
  font-size: 22px;
}

.text-40 {
  font-size: 40px;
}

//----------- custom margin class -----------
.mb-32 {
  margin-bottom: 32px;
}

.mb-60 {
  margin-bottom: 60px;
}
// ---------- custom gap class ----------------
.gap-40{
  gap: 8px;
  @include xl{
    gap: 24px;
  }
  @include xxl{
    gap: 40px;
  }
}

//----------- custom separator style -----------
.separator {
  width: 100%;
  height: 1px;
  background-color: $secondary;
  border-radius: 4px;
}

//----------- section style -----------
.section {

}

//----------- button styles -----------
.button {
  outline: none;
  border: 0;
  padding: 12px 24px;
  &--white {
    width: 160px;
    transition: all 0.2s ease-in;

    svg {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in;
      margin-left: -12px;
      transform: translateX(-10px);
    }
    .btn-text{
      // color: #126FDE;
      transition: all 0.2s ease-in;

    }
    &:hover {
      svg {
        opacity: 1;
        transform: translateX(0px);
      }
      .btn-text{
        transform: translateX(12px);
      }
    }
  }

}

// --------------- color styles -----------------


// ----------- paragraph styles ---------------
.paragraph {
  &-normal {
    font-size: 14px;
    @include lg {
      font-size: 16px;
    }
  }
  &-medium {
    font-size: 18px;
  }
  &-semi-large {
    font-size: 18px;
    @include lg {
      font-size: 20px;
    }
  }
}

// ----------- spring cone bg style ---------------
