//----------- google font links -----------
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

//----------- custom font -----------


//----------- custom font weight-----------
.fw-extra-bold {
  font-weight: 800;
}

//----------- custom font sizes -----------
.text-22 {
  font-size: 22px;
}

.text-40 {
  font-size: 40px;
}

//----------- custom margin class -----------
.mb-32 {
  margin-bottom: 32px;
}

.mb-60 {
  margin-bottom: 60px;
}

// ---------- custom gap class ----------------
.gap-40 {
  gap: 8px;

  @include xl {
    gap: 24px;
  }

  @include xxl {
    gap: 40px;
  }
}

//----------- custom separator style -----------
.separator {
  width: 100%;
  height: 1px;
  background-color: $secondary;
  border-radius: 4px;
}

//----------- section style -----------
.section {
  padding-block: 62px;

  &__gap--60 {
    margin-top: 60px;
  }

  &__header {
    margin-bottom: 62px;

    h2 {
      font-weight: 800;
      color: #00255a;
      text-align: center;
    }

    p {
      font-size: 20px;
    }
  }
}

//----------- button styles -----------
button {
  outline: none;
  border: 0;
}
.button {
  outline: none;
  border: 0;
  padding: 10px 24px;
  font-weight: 700;
  color: $primary-color-p400;
  border-radius: 8px;

  &--primary {
    display: flex;
    width: 200px;
    transition: box-shadow 0.4s ease-in;
    background-color: $primary-color-p75;
    box-shadow: inset 0 0 0 0 $primary-color-p200, rgba(0, 0, 0, 0.24) 0px 2px 6px;

    svg {
      position: absolute;
      left: 0;
      opacity: 0;
      stroke: #fff;
      stroke-width: 3px;
      transition: opacity 0.2s ease-in, transform 0.3s ease-in;
      margin-left: -12px;
      transform: translateX(-10px);
    }

    .btn-text {
      transition: all 0.2s ease-in;

    }

    &:hover {
      color: #fff;
      box-shadow: inset 400px 0 0 0 $primary-color-p200, rgba(0, 0, 0, 0.24) 0px 2px 6px;

      svg {
        opacity: 1;
        transform: translateX(0px);
      }

      .btn-text {
        transform: translateX(12px);
      }

    }
  }
  &--secondary {
    display: flex;
    width: 200px;
    // transition: box-shadow 0.4s ease-in;
    background-color: $primary-color-p75;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;

    svg {
      position: absolute;
      left: 0;
      opacity: 0;
      stroke: $primary-color-p400;
      stroke-width: 3px;
      transition: opacity 0.2s ease-in, transform 0.3s ease-in;
      margin-left: -12px;
      transform: translateX(-10px);
    }

    .btn-text {
      transition: all 0.2s ease-in;

    }

    &:hover {
      // color: #fff;
      // box-shadow: inset 400px 0 0 0 $primary-color-p200, rgba(0, 0, 0, 0.24) 0px 2px 6px;

      svg {
        opacity: 1;
        transform: translateX(0px);
      }

      .btn-text {
        transform: translateX(12px);
      }

    }
  }
  &--pill {
    padding: 12px 24px;
    text-transform: uppercase;
    background-color: #80b0d2;
    color: #00337e;
    font-weight: 700;
    border: 2px solid transparent;
    transition: all 0.2s ease-in;
    border-radius: 50rem;
    &:hover {
      border: 2px solid #3597d9;
      color: #00255a;
    }
  }

  &--back {
    background-color: $white-300;
    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: $white-350;
    }
  }

  &--solid {
    background-color: $primary-color-p300;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s ease-in;
    &:hover {
      background-color: $primary-color-p400;
    }
  }
}

// --------------- form styles -----------------
input.form-control,
select.form-select, textarea.form-control {
  &:focus {
    border-color: $primary-color-p75;
    box-shadow: 0 0 5px 0px $primary-color-p100;
  }
}
input[type=number] {
  -moz-appearance:textfield !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// ----------- paragraph styles ---------------
.paragraph {
  &-sm{
    font-size: 14px;
  }
  &-normal {
    font-size: 14px;

    @include lg {
      font-size: 16px;
    }
  }

  &-medium {
    font-size: 18px;
  }

  &-semi-large {
    font-size: 18px;

    @include lg {
      font-size: 20px;
    }
  }

  &-large {
    font-size: 20px;

    @include lg {
      font-size: 24px;
    }
  }
}

// ----------- text-color ---------------
.text-color-p300 {
  color: $primary-color-p300;
}

.text-color-p400 {
  color: $primary-color-p400;
}