$primary-color-p50: #dee5ff;
$primary-color-p100: #00337e;
$primary-color-p200: #00255a;

$secondary: #d0de8f;
$background: #000000;
$white-100: #ffffff;
$white-200: #bfbfbf;

$black: #000000;

$gray-g100: #929292;
// #00e7ff