.footer {
    background-color: $primary-color-p300;

    .brand {
        // border: 2px solid red;
        max-width: 100%;
        @include sm {
            max-width: 463px;
        }
        &__image {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__name {
            h2 {
                color: #fff;
                text-shadow: 0px 3px 3px rgb(6 21 49);
            }
        }
        &__privacy{
            padding-top: 16px;
            color: #d0cece;
            font-size: 17px;
        }
    }
    &__menu {
        width: 100%;
        gap: 42px;

        @include sm {
            width: auto;
        }

        &__navigation {
            flex-direction: column;
            gap: 18px;

            @include sm {
                flex-direction: row;
                gap: 28px;
            }

            @include md {
                flex-direction: row;
                gap: 32px;
            }

            @include lg {
                flex-direction: row;
                gap: 48px;
            }

            li {
                a {
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        color: $primary-color-p75;
                    }
                }
                
            }
        }

        &__social {
            width: 100%;
            gap: 0;

            @include sm {
                width: auto;
                gap: 24px;
            }

            li {
                a {
                    text-decoration: none;
                    width: 48px;
                    height: 48px;
                    transition: background-color 0.3s;

                    &:hover {
                        background: $primary-color-p200;
                    }
                }
            }
        }
    }
}